{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="accordion">
    {% regroup relic_weapons by job as job_groups %}
    {% for job_group in job_groups %}
    <input class="accordion__radio" type="radio" name="accordion-tabs" id="{{ job_group.grouper }}" checked />
    <label class="accordion__label" for="{{ job_group.grouper }}">{{ job_group.grouper }}
        <span class="accordion-tab--status"></span>
    </label>
    <div class="accordion__content">
        <div class="accordion__content__image__container">
            <img class="accordion__content__image" src="{% static 'images/jobs/'|add:job_group.grouper|add:'.png' %}"
                alt="placeholder alt text" />
        </div>
        <div class="accordion__content__text">
            <h3 class="accordion__content__text__title">Available Guides
                <hr class="accordion__content__text__horizontal-line" />
            </h3>
            <p class="accordion__content__text__body">
                {% for relic_weapon in relic_weapons %}
                    {% if relic_weapon.job == job_group.grouper %}
                        <li><a href="{% url 'relic_weapon' relic_weapon.weapon_name %}">{{ relic_weapon.weapon_name }}</a></li>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}