html, body {
    color: #392300;
    background-color: rgb(254, 254, 254);
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    table-layout: auto;
}

h1 {
    font-size: 18px;
    text-align: center;
    padding: 18px;
}

h3 {
    font-size: 18px;
    padding: 18px;
    padding-bottom: 9px;
    text-align: center;
    margin-top: 16px;
}

h4 {
    font-size: 16px;
    text-align: center;
    margin: 0px;
    margin-top: 16px;

}

a, a:visited {
    text-decoration: none;
    color: #287ee4;
   }

th,
td {
    padding: 8px;
    padding-top : 18px;
    padding-bottom: 18px;
    text-align: left;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    vertical-align: top;
    max-width: 800px;
}

p {
    margin: 8px;
}
th {
    background-color: #f2f2f2;
    padding-top : 18px;
    padding-bottom: 18px;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.882);
}

li {
    margin-bottom: 8px;
}

.job-group {
    margin-bottom: 20px;
}

.job-group h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.job-group.job-WAR h2 {
    color: #394b6c;
}

.job-group.job-PLD h2 {
    color: #394b6c;
}

.job-group.job-SCH h2 {
    color: rgb(4, 94, 4);
}

.job-group.job-WHM h2 {
    color: rgb(4, 94, 4);
}

.job-group.job-MNK h2 {
    color: #601c15;
}

.job-group.job-BRD h2 {
    color: #601c15;
}

.job-group.job-DRG h2 {
    color: #601c15;
}

.job-group.job-NIN h2 {
    color: #601c15;
}

.job-group.job-SMN h2 {
    color: #601c15;
}

.job-group.job-BLM h2 {
    color: #601c15;
}

.relic-weapons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.relic-weapons li {
    margin-bottom: 5px;
}

.relic-weapons li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

footer{
    margin-top: auto;
}

.footer p {
    margin: 8px;
    text-align: center;
}

@media (max-width: 600px) {
    table {
        max-width: 100%;
    }
}